*{
    margin-top: 0;
    padding: 0;
}

body{
    height: 430px;
    width: 370px;
    padding: 20px 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section{
    justify-content: center;
    align-items: center;
    background-color: black;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

input{
    font-size: 20px;
    border-radius: 50px;
    height: 50px;
    width: 370px;
    border: none;
}

button{
    border-radius: 50px;
    border: none;
    color: white;
    padding: 20px;
}

#nummer button{
    background-color: gray;
    font-size: 20px;
    width: 70px;
    justify-content: center;
}

#reken button{
    background-color: orange;
    font-size: 20px;
    width: 70px;
    justify-content: center;
}

#delete button{
    background-color: lightgray;
    font-size: 20px;
    width: 70px;
    display: flex;
    justify-content: center;
}

#calculate button{
    background-color: rgb(190, 176, 176);
    font-size: 20px;
    width: 70px;
    display: flex;
    justify-content: center;
}

button:hover{
    cursor: pointer;
}