*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section{
    justify-content: center;
    align-items: center;
    background-color: black;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

#rekenmachine {
    width: 292px;
}

input{
    border: solid 1px white;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    height: 100px;
    width: 292px;
    padding-left: 15px;
    margin-bottom: 10px;
}

button{
    background-color: gray;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 20px;
    margin-bottom: 10px;
}


.reken {
    width: 317px;
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: start;
}

.operators {
    width: 100%;
}

#reken button{
    font-size: 20px;
    width: 70px;
    justify-content: center;
}

button:hover{
    cursor: pointer;
}

.kaartbtn{
    display: flex;
    background-color: orange;
}

#reken .bbutton{
    width: 144px;
}

#reken .Cbutton{
    margin-left: 148px;
}
